
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Header Styling*/
#t60 {
  font-family: 'Rubik', sans-serif;
  color:#4673E4;
  font-weight: 400;
}
#header-links span {
 font-size: 14px;
 margin: 0 8px;
 line-height: 17px;
}
#header-links:hover {
 color:blue;
 border-bottom: solid 2px blue;
}
/*Search box Styling*/
#input-icons{
  background: #F6F7FB;
  display: inline-flex;
  flex: 1 1 300px;
  overflow: hidden;
}
#icon {
  padding: 0.5rem;
}
#search {
  background: #F6F7Fe;
  border:0;
  padding: 0.5rem, 0.5rem, 0.5rem, 0;
  flex: 1;

}
/*Login Component Styling*/
#smalltext{
  font-size: smaller;
}
#labels{
  font-size: small;
}
#input-text {
  font-size: smaller;
  font-weight: 500;
}
#signIn-input {
  border: 1px solid ;
  background: #2468EB1F;
}
#signIn-input span{
  color: #2468EB;
  font-size: small;
  font-weight: 600;
}
#signup-text span {
  font-size: small;
  font-weight: 600;
}
#signup-text a {
  font-size: small;
  font-weight: 400;
  text-decoration: none;
}
/*Media Queries Styling For Mobile Devices*/
@media screen and (max-width: 768px) {
  #nav-links {
    box-shadow: 0px 0px 4px 0px #0000001A; 
  }
  #header-links:hover {
    border-bottom: 0;
    background: #4673E414;
  }
  p {
    font-size: small;
  }
}